/* General Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo img {
    height: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffa500;
}

.customer-table {
    display: flex;
    height: calc(100vh - 60px);
}

.sidebar {
    width: 250px;
    background-color: #151111;
    color: #f4f4f9;
    padding: 20px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}


.sidebar .logo {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar ul li.active {
    background-color: #ffa500;
    color: #333;
}

.sidebar ul li:hover {
    background-color: #330505;
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f4f4f9;
    transition: background-color 0.3s ease;
}

.header h2 {
    margin: 0;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    width: 30%;
}

.stat i {
    color: #ffa500;
    margin-right: 10px;
}

.stat div {
    text-align: right;
}

.stat p {
    margin: 0;
    color: #7f8c8d;
}

.stat h2 {
    margin: 5px 0 0;
    color: #2c3e50;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filters input[type="text"],
.filters select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.filters input[type="text"]:focus,
.filters select:focus {
    border-color: #ffa500;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.3);
    outline: none;
}

.filters .add-user-btn,
.filters .import-btn,
.filters .export-btn {
    padding: 10px 20px;
    background-color: #ffa500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    width: 120px;
    height: 40px;
    transition: background-color 0.3s ease;
}

.filters .add-user-btn:hover,
.filters .import-btn:hover,
.filters .export-btn:hover {
    background-color: #ff8c00;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #ffa500;
    color: #333;
}

thead th {
    padding: 15px;
    text-align: left;
    color: #333;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody td {
    padding: 15px;
}

tbody td button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

tbody td button:hover {
    opacity: 0.8;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#addUserForm label,
#editUserForm label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

#addUserForm input,
#addUserForm select,
#editUserForm input,
#editUserForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

#addUserForm input:focus,
#addUserForm select:focus,
#editUserForm input:focus,
#editUserForm select:focus {
    border-color: #ffa500;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.3);
    outline: none;
}

#addUserForm button,
#editUserForm button {
    background-color: #ffa500;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addUserForm button:hover,
#editUserForm button:hover {
    background-color: #ff8c00;
}

/* user image */
.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: hsl(var(--h), 50%, 50%);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
  }
  

.avatar .username {
    margin-right: 10px;
    font-weight: bold;
}

.sidebar ul li a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: #007bff;
}

/* CSS for the search functionality */
#search {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 200px;
    transition: border-color 0.3s ease;
}

#search::placeholder {
    color: #aaa;
}

#search:focus {
    border-color: #ffa500;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.3);
    outline: none;
}

/* CSS for the edit user modal */
.delete-button {
    color: #DB7093;
}

tbody td .delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #DB7093;
    color: white;
    transition: background-color 0.3s ease;
}

tbody td .delete-button:hover {
    background-color: #ff8c00;
}

tbody td .view-tickets-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

tbody td .view-tickets-btn:hover {
    background-color: #2980b9;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    text-align: center;
}

.user-info h2 {
    margin: 0;
}

/* Pagination container styles */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Pagination link styles */
.pagination-link {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #666;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-link:hover {
    background-color: #ddd;
}

/* Active pagination link styles */
.pagination-link.active {
    background-color: #ffa500;
    color: white;
    border: 1px solid #ffa500;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    background-color: #ffa500;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.pagination-button:hover {
    background-color: #ff8c00;
}

.pagination-info {
    font-size: 16px;
    margin: 0 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button-container {
    text-align: center;
}

.button-container button {
    display: inline-block;
    margin-right: 10px;
}

/* Search Container */
.search-container {
    position: relative;
    display: inline-block;
}

/* Search Input */
#search {
    width: 200px;
    padding: 10px 10px 10px 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search::placeholder {
    color: #aaa;
}

#search:focus {
    border-color: #ffa500;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.3);
    outline: none;
}

/* Search Icon */
.search-icon {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
}

/* dark/light theme setter */
body.dark-mode {
    background-color: #333;
    color: #f4f4f9;
}

body.dark-mode .content {
    background-color: #444;
    color: #f4f4f9;
}

body.dark-mode table {
    background-color: #444;
}

body.dark-mode tbody tr {
    background-color: #444;
}

body.dark-mode tbody tr:hover {
    background-color: #555;
}
body.dark-mode .sidebar {
    background-color: #151111;
}


body.dark-mode .sidebar ul li.active {
    background-color: #ffa500;
    color: #444;
}

body.dark-mode .modal-content {
    background-color: #444;
    color: #f4f4f9;
}

.theme-switcher {
    position: absolute;
    top: 15px;
    right: 90px;
}

.theme-switcher input[type="checkbox"] {
    display: none;
}

.theme-switcher label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #DB7093;
    color: #f4f4f9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.theme-switcher input[type="checkbox"]:checked + label {
    background-color: #f4f4f9;
    color: #333;
}

.starred {
    color: gold;
}

/* add user and successbutton popup form */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Adjusted top margin to 5% */
    padding: 30px; /* Increased padding to 30px */
    border: 1px solid #888;
    width: 100%;
    max-width: 500px; /* Increased max-width to 500px */
    text-align: center;
    box-shadow: 0px 0px 10px rgba(241, 238, 238, 0.1); /* Added box-shadow for depth */
    border-radius: 5px; /* Added border-radius for rounded corners */
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
  }
  
  .cancel-delete-btn,
  .confirm-delete-btn {
    padding: 10px 20px; /* Increased padding to 10px 20px */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 16px; /* Increased font size to 16px */
  }
  
  .cancel-delete-btn {
    background-color: lightgray;
  }
  
  .confirm-delete-btn {
    background-color: #DB7093;
    color: white;
  }
 
/* active/inactive tickets color */  
.status-column {
  position: relative;
  padding-left: 20px;
}

.status-column::after {
  content: "";
  position: absolute;
  right: 140px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status-column.active::after {
  background-color: green;
}

.status-column.inactive::after {
  background-color: red;
}

/* pop up form for alert messages like user exits/add correct details */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #886a6a;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .popup .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
/* profilr picture */
  .profile-pic-container {
    display: flex;
    align-items: center;
  }
  
  .profile-pic-label {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .profile-pic-label:hover .change-image-text {
    display: block;
  }
  
  .change-image-text {
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    font-size: 10px; 
  }
  /* image after adding image avatar */
  .avatar,
  #output {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #e46eb7;
    color: #fff;
    border-radius: 50%;
    font-size: 2em;
    background-size: cover;
  }
/* username welcome text */
  .welcome-message {
    margin-left: 20px;
  }
  .welcome-message h2 {
    margin: 0;
    font-size: 1.2em; /* Decreased the font size */
  }
  
/* remove image */ 
.profile-pic-label:hover .remove-image {
  display: block;
}
.avatar:hover + .remove-image {
  display: block;
}

.remove-image {
    position: absolute;
    top: 25%;
    right: 10%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    font-size: 10px; 
  }
  

