<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CuTicA{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="CuTicA Logo">
        </div>
        {% block sidebar_nav %}
        <ul>
         
            <li><a href="{{ url_for('auth.dashboard_page') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
            <li class="active"><a href="{{ url_for('auth.customers_page') }}"><i class="fas fa-users"></i> Customers</a></li>
            <li ><a href="{{ url_for('auth.support_team') }}"><i class="fas fa-ticket-alt"></i> Support Team</a></li>
            <li><a href="{{ url_for('auth.account_page') }}"><i class="fas fa-user"></i> Account</a></li>
            <li><a href="{{ url_for('auth.notification_page') }}"><i class="fas fa-bell"></i> Notification</a></li>
            <li><a href="{{ url_for('auth.settings_page') }}"><i class="fas fa-cog"></i> Settings</a></li>
            <li><a href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            <li><a href="{{ url_for('auth.help_page') }}"><i class="fas fa-question-circle"></i> Help</a></li>
            
        </ul>
        {% endblock %}
    </div>
    <div class="content">
        
        {% block content %}{% endblock %}
    </div>
    {% block modals %}{% endblock %}
</div>
</div>
<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>