<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cutica - Revolutionizing Customer Support</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <a href="{{ url_for('auth.main_home') }}">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Cutica Logo">
            </div>
        </a>
        <nav>
            <a href="{{ url_for('auth.login') }}">Sign-in</a>
            <a href="{{ url_for('auth.signup') }}">Sign-up</a>
        </nav>
    </header>
    <div class="main-content">
        <div class="welcome-section">
            <h1>Welcome to Cutica</h1>
            <p>Cutica is an innovative platform designed to revolutionize how businesses handle customer service and
                support.
                <br><br> Our mission is to streamline and enhance the customer support experience through
                state-of-the-art automation and intelligent solutions.
            </p>
        </div>
    </div>
</body>

</html>